@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1443px;
}

@media (min-width: 1280px) {
  body{
    max-width: 1443px;
  }  
}
